.product {
  min-height: 100vh;
  max-height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .container {
    padding: 14px 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 14px;
    background-color: #18191d;

    hr {
      border: 0.5px solid #18191d;
    }

    .top,
    .bottom {
      width: calc(100% - 24px);
      padding: 20px 12px;
      background-color: #272934;
      border-radius: 20px;
    }

    .top {
      display: flex;
      flex-direction: column;
      gap: 10px;
      color: #d2d2d2;

      h1 {
        font-size: 16px;
        font-weight: normal;
      }

      .prices {
        display: flex;
        align-items: center;
        gap: 10px;
        font-size: 20px;

        .price + .del {
          font-size: 16px;
          color: gray;
        }
      }

      .discount {
        display: flex;
        gap: 8px;

        .label {
          padding: 5px;
          background-color: #6d2135;
          border-radius: 5px;
          font-size: 12px;
        }
      }

      .orderingInfos {
        ul {
          padding-left: 20px;
          line-height: 24px;
          font-size: 14px;
        }
      }
    }

    .bottom {
      display: flex;
      flex-direction: column;
      gap: 10px;

      .productDetails {
        .title {
          margin-bottom: 5px;
          color: gray;
        }
        .desc {
          color: #d2d2d2;
        }
      }
    }
  }
}
