.app {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;

  .flexContainer {
    min-width: 375px; // iPhone SE
  }

  .preview {
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    display: none;
  }
}
