* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "PingFang TC", "Heiti TC", "Adobe 繁黑體 Std",
    "AdobeFanHeitiStd-Bold", "微軟正黑體", sans-serif;
}

body {
  min-height: 100vh;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
